@use "../../globalStyles.scss" as *;
form {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: $color-bottom;
  padding: 1rem;
  border-radius: 10px;

  @media (width>= 1024px) {
    padding: 4rem 2rem;
    margin-inline: 8rem;
  }
}
.btnEnviar {
  width: 200px;
  background-color: $color-principal;
  color: $color-white;
  font-family: $font-title;
  border-radius: 10px;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: $color-hover;
  }
}
