@use "../../globalStyles.scss" as *;
.formGroup {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.btnEnviar {
  width: 200px;
  background-color: $color-principal;
  color: $color-white;
  font-family: $font-title;
  border-radius: 10px;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: $color-hover;
  }
}
