@use "../../globalStyles.scss" as *;

.input {
  font-size: 1rem;
  color: $color-principal;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: $font-title;

  @media (width>= 1024px) {
    font-size: 1.5rem;
  }

  input {
    outline: none;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding: 1rem;
    font-size: 1rem;

    @media (width>= 1024px) {
      width: 80%;
      font-size: 1.2rem;
    }
  }
}
