@use "../../globalStyles.scss" as *;
form {
  margin: 3rem auto;
  width: 60%;
  background-color: $color-bottom;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-family: $font-third;
  padding: 2rem;
}

.btnEnviar {
  width: 200px;
  background-color: $color-principal;
  color: $color-white;
  font-family: $font-title;
  border-radius: 10px;
  font-size: 1.25rem;
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    background-color: $color-hover;
  }
}
