@use "../../globalStyles.scss" as *;

.usuario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
  font-family: $font-third;
  padding: 2rem 1rem;

  @media (width >= 1024px) {
    border: 1px solid #efeeea;
    border-radius: 1rem;
    flex-direction: row;
    width: 80%;
    margin: 10rem auto 0;
  }
}
.usuario__image {
  max-width: 300px;
  width: 100%;
}

.usuario__image img {
  width: 100%;
  border-radius: 50%;
  border: 5px solid $color-hover;
}

.usuario__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (width >= 1024px) {
    text-align: left;
    gap: 0.5rem;
  }
}
.usuario__bio {
  color: $color-black;
  padding: 1rem 0;

  @media (width >= 1024px) {
    font-size: 1.5rem;
  }
}
.usuario__name {
  font-size: 2rem;
  font-weight: 700;
}
.usuario__function {
  color: $color-tag;
  font-size: 1.25rem;
  font-weight: 500;
}
.infoList {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (width >= 1024px) {
    flex-direction: row;
  }

  & li {
    text-align: center;
    padding: 0.5rem 2.2rem;
    background-repeat: no-repeat;
    background-position: left 5px center;
    font-size: 1.2rem;

    @media (width >= 1024px) {
      padding: 0.5rem 2rem;
    }
  }

  &__infoLocal {
    background-image: url("../../assets/icons/local.png");
  }

  &__infoDate {
    background-image: url("../../assets/icons/date.png");
  }
  &__infoEmail {
    background-image: url("../../assets/icons/mail.png");
  }
}
.usuario__tagList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  @media (width >= 1024px) {
    justify-content: flex-start;
  }
}
.usuario__tagList_item {
  background-color: $color-bg-tag;
  color: $color-tag;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 0.8rem;
}
