@use "../../globalStyles.scss" as *;

.hero {
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;

  @media (width >= 1024px) {
    flex-direction: row;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  width: 100%;
  gap: 3rem;
  text-align: center;
  margin-top: 2rem;
  animation: fadeInUp 2s ease-out;

  @media (width >= 1024px) {
    text-align: left;
    align-items: start;
    gap: 1.5rem;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.hero__title {
  font-size: 3rem;

  @media (width >= 1024px) {
    font-size: 5.25rem;
    line-height: 120%;
  }
}

.hero__description {
  font-size: 1.25rem;

  @media (width >= 768px) {
    font-size: 1.5rem;
  }

  @media (width >= 1024px) {
    line-height: 120%;
  }
}
.hero__cta {
  background-color: $color-btn;
  color: $color-white;
  border-radius: 10px;
  font-family: $font-title;
  font-size: 1.5rem;
  font-weight: 600;
  background-image: url("../../assets/icons/arrow.png");
  background-repeat: no-repeat;
  background-position: right 25px center;
  width: 300px;
  padding: 0.8rem 3rem 0.8rem 2rem;
  transition: 0.5s;

  &:hover {
    background-color: $color-hover;
  }
}
.hero__stats {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;

  @media (width >= 768px) {
    flex-direction: row;
    justify-content: space-between;
    margin-block: 2rem;
  }
}

.stats__number {
  font-size: 3.25rem;
}

.stats__label {
  font-size: 1.25rem;
}
.hero__image {
  max-width: 100vw;
  animation: fadeRight 2s ease-out;
  @media (width >= 1024px) {
    width: 50%;
  }

  @keyframes fadeRight {
    from {
      opacity: 0;
      transform: translateX(30px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.hero__image img {
  width: 100%;
}
