@use "../../globalStyles.scss" as *;

.hero {
  max-width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  @media (width >= 1024px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50rem;
  width: 100%;
  gap: 3rem;
  text-align: center;
  margin-top: 2rem;

  @media (width >= 1024px) {
    text-align: left;
  }
}

.hero__title {
  font-size: 3rem;

  @media (width >= 1024px) {
    font-size: 5.25rem;
    line-height: 120%;
  }
}

.hero__description {
  font-size: 1.25rem;

  @media (width >= 1024px) {
    font-size: 1.5rem;
    line-height: 120%;
  }
}
.hero__cta {
  background-color: $color-btn;
  color: $color-white;
  border-radius: 10px;
  font-family: $font-title;
  font-size: 1.5rem;
  font-weight: 600;
  background-image: url("../../assets/arrow.png");
  background-repeat: no-repeat;
  background-position: right 25px center;
  width: 332px;
  padding: 1rem 4rem 1rem 2rem;
  transition: 0.5s;

  &:hover {
    background-color: $color-hover;
  }
}
.hero__stats {
  display: flex;
  gap: 1rem;
  text-align: center;
  margin-top: 2rem;

  @media (width >= 1024px) {
    justify-content: space-between;
  }
}

.stats__number {
  @media (width >= 1024px) {
    font-size: 3rem;
  }
}
.hero__image {
  max-width: 100vw;
  @media (width >= 1024px) {
    width: 100%;
  }
}

.hero__image img {
  width: 100%;
}
