@use '../../globalStyles.scss' as *;

.header {
  height: 100px;
  background-color: $color-primary;
}
.headerContainer {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 0.8rem;
}
.logo {
  max-width: 87px;
  height: 66px;
  width: 100%;
  height: 100%;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link {
  padding: 5px 20px;
  color: #fff;
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.75rem;
  font-weight: 400;
}
.imgUser {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 3px solid #00aaff;
  cursor: pointer;
}
.navUser {
  position: absolute;
  right: -40px;
  top: 6rem;
  background-color: $color-primary;
  width: 8vw;
  display: none;

  a {
    display: block;
    padding: 0 10px;
    margin-bottom: 10px;
    color: #fff;
    text-align: start;
    border-bottom: 2px solid transparent;
  }
  a:hover {
    border-bottom: 2px solid $color-white;
  }
}
.open {
  display: block;
}
