@use "../../globalStyles.scss" as *;

.header {
  background-color: $color-principal;
}
.headerContainer {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1rem;
}
.logo {
  width: 4rem;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  display: none;

  @media (width >= 1024px) {
    display: flex;
  }
}
.link {
  color: $color-white;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;

  &:hover {
    color: $color-bottom;
    border-bottom: 2px solid $color-btn;
  }
}
.imgUser {
  width: 4rem;
  border-radius: 50%;
  border: 3px solid $color-hover;
  cursor: pointer;
}
.navUser {
  position: absolute;
  right: -20px;
  top: 5rem;
  background-color: $color-principal;
  border-radius: 10px;
  width: 50vw;
  display: none;
  padding: 2rem 1rem 1rem;

  @media (width >= 1024px) {
    width: 10vw;
  }

  a {
    display: block;
    margin-bottom: 10px;
    color: $color-white;
    font-family: $font-title;
    border-bottom: 2px solid transparent;
  }
  a:hover {
    border-bottom: 2px solid $color-btn;
  }
}
.open {
  display: block;
}
