@use "../../globalStyles.scss" as *;

.header {
  background-color: $color-principal;
}
a {
  font-size: 1.2rem;
  color: $color-white;
  font-family: $font-title;
}

.headerContainer {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0.75rem;
}
.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: $color-btn;
  font-weight: 700;
  font-size: 1.5rem;

  & img {
    width: 4rem;
  }
  &:hover {
    background-color: transparent;
  }
}
.header__user {
  display: flex;
  align-items: center;
  gap: 2rem;
  // img {
  //   display: none;
  // }
  a {
    font-weight: 600;
    transition: transform 0.3s;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom: 1px solid $color-bottom;
    }
  }
}
.imgUser {
  width: 4rem;
  border-radius: 50%;
  border: 3px solid $color-hover;
  cursor: pointer;
}
.navbar {
  display: none;

  @media (width >= 768px) {
    display: flex;
  }
}
.navUser {
  position: absolute;
  right: -20px;
  top: 5rem;
  background-color: $color-principal;
  border-radius: 10px;
  width: clamp(200px, 5vw, 200px);
  padding: 1rem 0;
  display: none;
  z-index: 1000;

  @media (width >= 768px) {
    .navUser__nav {
      display: none;
    }
  }

  a {
    font-size: 1rem;
    display: block;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: #00aaff36;
    }
  }
}
.open {
  display: block;
}
