@use "../../globalStyles.scss" as *;
.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (width >= 1024px) {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  @media (width >= 1440px) {
    gap: 2rem;
  }
}
.link {
  color: $color-white;
  font-family: "Source Sans 3", sans-serif;
  font-weight: 400;

  @media (width >= 768px) {
    font-size: 1.25rem;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      background: $color-btn;
      transition: width 0.5s;
    }
    &:hover::after,
    &:global(.active)::after {
      width: 100%;
    }
  }
  &:hover {
    color: $color-bottom;
  }
}
