@use "../../globalStyles.scss" as *;

.footer {
  background-color: $color-bottom;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 4rem;
}
.footerText {
  color: $color-black;
  font-size: 0.85rem;
  font-family: "Inter", sans-serif;

  @media (width >= 1024px) {
    font-size: 1rem;
  }
}
