@use "../../globalStyles.scss" as *;

.container {
  margin-top: 2rem;
  padding: 4rem 2rem;
  text-align: center;
}
h1 {
  font-size: 3rem;
}
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  margin-block: 3rem;

  @media (width >= 1024px) {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}
