* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
// variáveis

// cores
$color-primary: #205691;
$color-secondary: #fd7267;
$color-font: #122f97;
$color-white: #ffffff;
$color-black: #000000;
$color-bottom: #e9eff4;
